html, body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: verdana;
    background-color: #222;
    color: silver;
}
body {
    position: relative;
    left: 0;
    top: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#backdrop {
    text-align: center;
    font-size: 16vw;
    line-height: 75vh;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-family: candara, "gill sans", sans-serif;
}
#backdrop.hidden {
    display: none;
}
#loader {
    height: 4px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 60vh;
}
#loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: none;
}
h1 {
    font-size: 520%;
    text-align: center;
}


/* flash message box */
@media screen {
    #flash {
        color: silver;
        position: absolute;
        bottom: 30px;
        height: 100px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 520%;
        opacity: 0;
        -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
        -webkit-transition: opacity 1s;
        -o-transition: opacity 1s;
        text-transform: capitalize;
        z-index: 10;
    }
    #flash span {
        border: 1px solid #444;
        padding: 0.2em 1em;
        border-radius: 20px;
        background-color: #181818;
        background-color: rgba(0,0,0,0.7);
        box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    }
}

/* transitions */
/* fade */
@media screen {
    iframe.fade {
        transition: opacity 1s;
        opacity: 0;
    }
    iframe.fade.current {
        opacity: 1;
    }
}
