html, body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: verdana;
    background-color: black;
    color: silver;
}
body {
    position: relative;
    left: 0;
    top: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: none;
}
h1 {
    font-size: 520%;
    text-align: center;
}


/* flash message box */
@media screen {
    #flash {
        color: silver;
        position: absolute;
        bottom: 30px;
        height: 100px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 520%;
        opacity: 0;
        -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
        -webkit-transition: opacity 1s;
        -o-transition: opacity 1s;
        text-transform: capitalize;
        z-index: 10;
    }
    #flash span {
        border: 1px solid #444;
        padding: 0.2em 1em;
        border-radius: 20px;
        background-color: #181818;
        background-color: rgba(0,0,0,0.7);
        box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    }
}