html,body {
    background-color: #222;
    font-family: verdana, sans-serif;
    font-size: 16px;
    color: #ddd;
}
* {
    margin: 0;
    padding: 0;
}
.display {
    text-align: center;
    overflow: hidden;
}

/* block level elements */
@media screen {
    h1,h2,h3,h4,h5,h6,p,ul,ol,dl,table,fieldset {
        margin: 10px;
    }
}

h1, h2 {
    font-weight: normal;
    text-shadow: 0px 2px 2px black;
}
h1 {
    font-size: 72px;
}
a {
    color: #eee;
}


/* form elements */
@media screen {
    .controls {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    fieldset {
        flex: 1;
        border: 1px solid #1A1A1A;
        border-radius: 4px;
        box-shadow: 0px 1px 0px #333, inset 0px 1px 0px #333;
    }
    fieldset p {
        white-space: nowrap;
    }
    legend {
        margin-left: 10px;
    }
    a.button,
    button {
        min-width: 50px;
        background-color: #222;
        border: 1px solid #1A1A1A;
        border-radius: 4px;
        color: #eee;
        font-family: verdana, sans-serif;
        font-size: 16px;
        padding: 8px;
        box-shadow: 0px 1px 0px #333, inset 0px 1px 0px #333;
        cursor: pointer;
        text-decoration: none;
    }
    a.button:hover,
    button:hover {
        background-color: #282828;
    }
    a.button:active,
    button:active {
        background-color: #1A1A1A;
        box-shadow: 0px 1px 0px #333;
    }
    a.button:focus,
    button:focus {
        border-color: steelblue;
        outline: none;
    }
    .softbutton {
        border: 1px solid transparent;
        border-radius: 4px;
        color: #eee;
        font-family: verdana;
        font-size: 16px;
        padding: 8px;
        cursor: pointer;
        display: inline-block;
    }
    .softbutton:hover {
        box-shadow: 0px 1px 0px #333, inset 0px 1px 0px #333;
        border: 1px solid #1A1A1A;
        background-color: #282828;
    }
    .softbutton:active {
        background-color: #1A1A1A;
        box-shadow: 0px 1px 0px #333;
    }
    label {
        min-width: 150px;
        display: inline-block;
    }
    input {
        background-color: rgba(255,255,255,0.1);
        background-color: #393939;
        border: 1px solid #1A1A1A;
        border-radius: 4px;
        box-shadow: 0px 1px 0px #333, inset 2px 2px 2px rgba(0,0,0,0.3);
        color: #eee;
        font-family: verdana, sans-serif;
        font-size: 16px;
        padding: 8px;
    }
    input:focus {
        border-color: steelblue;
        outline: none;
    }
    select {
        min-width: 50px;
        background-color: #222;
        border: 1px solid #1A1A1A;
        border-radius: 4px;
        color: #eee;
        font-family: verdana, sans-serif;
        font-size: 16px;
        padding: 8px;
        box-shadow: 0px 1px 0px #333, inset 0px 1px 0px #333;
        cursor: pointer;
        text-decoration: none;
    }
    select:focus {
        border-color: steelblue;
        outline: none;
    }
}

/* overscan widget */
@media screen {
    p.overscan {
        margin: 45px;
        width: 150px;
        height: 80px;
        position: relative;
        border: 1px solid #1A1A1A;
        border-radius: 4px;
        box-shadow: 0px 1px 0px #333, inset 0px 1px 0px #333;
    }
    p.overscan input {
        position: absolute;
        margin-left: -34px;
        margin-top: -19px;
    }
    p.overscan #top {
        top: 0;
        left: 50%;
    }
    p.overscan #right {
        top: 50%;
        left: 100%;
    }
    p.overscan #bottom {
        top: 100%;
        left: 50%;
    }
    p.overscan #left {
        top: 50%;
        left: 0;
    }
}

/* table stuff */
@media screen {
    td {
        padding: 2px 4px;
    }
}

/* global classes */
@media screen {
    [class^="icon-"], [class*=" icon-"] {
        font-size: 14px;
    }
    .hidden {
        position: absolute;
        opacity: 0;
        z-index: -1000;
        left: -1000px;
        top: -1000px;
        width: 0;
        height: 0;
    }
    .panel {
        margin: 9px;
        border: 1px solid #333;
        border-radius: 4px;
    }
    .pull-left {
        float: left;
    }
    .pull-right {
        float: right;
    }
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
       display: none;
    }

    .dropout {
        border: 1px solid #333;
        border-radius: 4px;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
        background-color: #222;
        position: absolute;
    }
    .dropout p {
        margin: 0;
        padding: 10px;
        cursor: pointer;
    }
    .dropout p:hover {
        background-color: #282828;
    }
}

input[type=number] {
    width: 50px;
}
